@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lacquer&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;500;600;700;900&family=Rubik+Moonrocks&family=Ubuntu:wght@300;400;500;700&display=swap');


:root {
    --background-color: #333647;
    --secunadry-background-color: #282a39;
    --bg-color-of-lists-in-skills-section: #81818180;
    --bg-color-form-inputs: #c4c4c44a;
    --card-bg-color: #232432;

    --text-color: #fff;
    --secundary-color: #bbbbbb;

    --accent-color: #f87652;
    --error-color: #e02525;
}

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

:target {
    scroll-margin-top: -3em;
}

body {
    background-color: var(--background-color);
}

a {
    cursor: pointer;
    text-decoration: none;
}

span {
    color: var(--accent-color);
}

ul,
li {
    list-style: none;
}