.about_section {
    background-color: var(--secunadry-background-color);
    padding: 140px 0;
}

.about_section .about_me_left_section {
padding-right: 100px;
}

.about_section .about-question {
    color: var(--text-color);
    font-size: 50px;
}

.about_section .lets-talk {
    color: var(--text-color);
    font-weight: 300;
    font-size: 30px;
    margin-top: 14px;
}

.about_section .info-email {
    font-weight: 500;
    font-size: 15px;
    color: var(--accent-color);
    word-spacing: 6px;
    margin: 35px 0 15px 0;
    text-decoration: none;
}

.about_section .info-email:hover {
    color: var(--text-color);
    text-decoration: none;
}

.about_section .contact-info a {
    color: var(--accent-color);
}

.about_section .contact-info a:hover {
    margin-top: 25px;
    color: var(--text-color);
}

.about_section .contact-info h5 {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    word-spacing: 6px;
}


/* ---------------------- */


.about_section #about-title {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0.5px;
    color: var(--text-color);
}

.about_section hr{
    border: .5px solid var(--accent-color);
    max-width: 12.5rem;
    margin: 5px 0;
    margin-bottom: 25px;
}

.about_section .about_me_right_section #txt {
    font-size: 15px;
    margin-top: 13px;
    line-height: 25px;
    color: var(--secundary-color);
}

.about_section #option {
    font-size: 12px;
    margin-top: 13px;
    color: var(--secundary-color);
}

.about_section .about_me_right_section hr {
    border: .5px solid var(--accent-color);
    width: 6rem;
    margin: 0;
}


.about_section button {
    width: 100px;
    border-radius: 7px;
    font-size: 15px;
    color: var(--text-color);
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.about_section .about_me_right_section button:hover {
    animation: swing;
    animation-duration: .5s;
}


/* ---------------------------------------------------- */


@media(max-width:993px) and (min-width:768px) {


    .about_section .about_me_right_section {
        padding-left: 50px;
        text-align: center;
    }

    .about_section #about-title {
        font-size: 50px;
    }
}

@media(max-width:768px) {
    .about_section {
        text-align: center;
        padding: 50px 40px;
    }

    .about_section .about_me_left_section {
        padding-right: 0px;
        }
    .about_section .about-question {
        font-size: 25px;
        margin-top: 30px;
    }

    .about_section #about-title {
        font-size: 40px;
        margin: 1.5rem 0 2px 0;
    }


    .about_section .lets-talk {
        font-weight: 300;
        font-size: 18px;
    }

    .about_section .about_me_right_section button {
        margin: 40px 0 5px 0;
    }

    .about_section  hr{
       margin: 0px auto 40px;
       ;
    }

}

@media(max-width:500px){
    .about_section {
        text-align: center;
        padding: 50px 38px;
    }

    .about_section #about-title {
        font-size: 35px;
        margin: 1.5rem 0 2px 0;
    }
}