.contact_section {
    background: var(--secunadry-background-color);
    padding: 200px 0;
}

.contact_section .heading {
    font-weight: 600;
    font-size: 50px;
}

.contact_section hr {
    border: .5px solid var(--accent-color);
    width: 12rem;
    margin: 12px 0;
}

.contact_section .txt {
    color: var(--secundary-color);
    font-size: 13px;
    margin-bottom: 50px;
}

.contact_section .form-group {
    position: relative;
    margin-bottom: 60px;
}

.contact_section .form-group .input {
    background: var(--bg-color-form-inputs);
    border: 2px solid var(--bg-color-form-inputs);
    color: var(--text-color);
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    padding-left: 8px;
    font-size: 13px;
}

.contact_section .form-group .message {
    height: 200px;
}

.input~label {
    position: absolute;
    top: 10px;
    left: 9px;
    color: var(--secundary-color);
    transition: .4s;
    font-weight: 300;
    height: 3rem;
    font-size: 13px;
}

.input:focus~label,
.input:valid~label {
    transform: translateY(-30px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.contact_section .form-group .error {
    position: absolute;
    top: 43px;
    left: 10px;
    display: flex;
    padding: 0;
    color: var(--error-color) !important;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
}

.contact_section .form-group .message::placeholder {
    text-align: left;
    display: flex;
    align-items:flex-end;
   
}

.contact_section .form-group .message-error {
    position: absolute;
    top: 205px;
}

.contact_section .form-group .error.active {
    display: flex;
    padding: 0;
    color: #c50e0e;
}

.contact_section form button {
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
    color: var(--text-color);
    width: 100px;
    font-size: 15px;
    margin-bottom: 25px;
}

.contact_section form button:hover {
    animation: swing .5s;
}

.contact_section .list-unstyle {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.contact_section ul li .fa:hover {
    color: var(--text-color);
    cursor: pointer;
}

.contact_section ul li .fa {
    color: var(--accent-color);
    cursor: pointer;
}




/* ----------------------------- */

@media (max-width: 991px) and (min-width: 768px) {
    .contact_section {
        padding: 80px 30px;
    }

    .contact_section .heading {
        font-size: 42px;
    }

    .contact_section .list-unstyle {
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

}

@media (max-width: 768px) {
    .contact_section {
        padding: 40px 45px;
    }

    .contact_section .heading {
        font-size: 38px;
    }


    .contact_section .list-unstyle {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

/* 
@media (max-width: 500px) {
    .contact_section {
        padding: 40px 45px;
    }
} */