.formation_section {
    padding: 170px 0;
}

.formation_section .card {
    background: var(--card-bg-color);
    margin: 10px;
}

.formation_section .card-header img {
    height: 200px;
}

.formation_section .card-body {
    height: 220px;
}

.formation_section .card-body .title {
    font-size: 22px;
    font-weight: 500;
}

.formation_section .card-body .date {
    font-size: 11px;
}

.formation_section .card-body .date span {
    color: var(--accent-color);
}

.formation_section .card-body .txt {
    font-size: 12px;
    color: var(--secundary-color) !important;
}

.formation_section .card-body a {
    color: var(--accent-color);
}

@media (min-width: 769px){
    .formation_section {
        padding: 80px 35px;
      }
}


@media (max-width: 768px) {
    .formation_section {
      padding: 80px 30px;
    }

    .formation_section .card-header {
        display: none;
    }

    .formation_section .card-body #heading{
        text-align: center;
    }

     .formation_section .row #heading h1 {
        padding-left: 10px;
        font-size: 40px;
        font-weight: 500;
    }
}