.formation_section {
    padding: 200px 0;
}

.formation_section .container {
    padding: 50px 0;
}

.formation_section .card {
    background: var(--card-bg-color);
    margin: 10px;

}

.card-columns .card {
    height: 100% !important;
}

.formation_section .card-header img {
    height: 200px;
}

.formation_section .card-body {
    height: 255px;
}

.formation_section .card-body .title {
    font-size: 22px;
    font-weight: 500;
}

.formation_section hr {
    border: .5px solid var(--accent-color);
    max-width: 27rem;
    margin: 12px auto;
}

.formation_section .card-body .date {
    font-size: 11px;
}

.formation_section .card-body .date span {
    color: var(--accent-color);
}

.formation_section .card-body .txt ul {
    font-size: 12px;
    color: var(--secundary-color) !important;
    padding: 0;
}

.formation_section .card-body a {
    color: var(--accent-color);
}

@media (min-width: 767px) {
    .formation_section {
        padding: 80px 40px;
    }
}


@media (max-width: 767px) {
    .formation_section {
        padding: 80px 55px;
    }

    .formation_section .card-header {
        display: none;
    }

    .formation_section hr {
        width: 18rem;
    }

    .formation_section .card-body #heading {
        text-align: center;
    }

    .formation_section .row #heading h1 {
        padding-left: 0px;
        font-size: 40px;
        font-weight: 500;
    }
}

@media (max-width: 500px) {
    .formation_section {
        padding: 80px 50px;
    }

    .formation_section .card-header {
        display: none;
    }

    .formation_section .card-body #heading {
        text-align: center;
    }

    .formation_section .row #heading h1 {
        padding-left: 0px;
        font-size: 30px;
        font-weight: 500;
    }

    .formation_section hr {
        width: 13rem;
    }
}