.portfolio_section {
    background: var(--secunadry-background-color);
    padding: 250px 0;
    visibility: hidden;
}

.portfolio_section .container {
    width: 100%;
    padding: 100px 35px
}

.portfolio_section .under {
    width: 100%;
}

.portfolio_section .nav-tabs {
    border: none;
    width: 100%;
    text-align: center;
}

.portfolio_section .card:hover {
    animation: pulse .5s;
}

.portfolio_section .nav-tabs .nav-link.active {
    border: none;
    color: var(--text-color);
    border-bottom: 2px solid var(--accent-color) !important;
    background: transparent;
}

.portfolio_section .nav-tabs .nav-link.active:hover {
    border-bottom: 2px solid var(--accent-color) !important;
}

.portfolio_section hr {
    border: .5px solid var(--accent-color);
    max-width: 18rem;
    margin: 12px auto;
}



.portfolio_section .nav-tabs .nav-item.show .nav-link {
    font-weight: 400;
    font-size: 14px;
    background: transparent !important;
}

.portfolio_section .nav-tabs .nav-link:hover {
    border: none;
}

.portfolio_section .tab-content .card img {
    border: 2px solid var(--text-color);
}

.portfolio_section .card-body {
    background: var(--card-bg-color);
}

.portfolio_section .card-body .title {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color) !important;
}

.portfolio_section .card-body .date {
    font-size: 11px;
    color: var(--text-color);
    word-spacing: px;
}

.portfolio_section .card-body .date span {
    color: var(--accent-color);
    margin: 0 1px;
}

.portfolio_section .card-body .txt {
    font-size: 14px;
    color: var(--secundary-color) !important;
}

.portfolio_section .card-body .links {
    display: flex;
    justify-content: space-between;
}

.portfolio_section .card-body a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 300;
}

.portfolio_section .card-body .links span button:hover {
    color: var(--card-bg-color);
    background: var(--text-color);
    border: 1px solid var(--card-bg-color);
    border-radius: 2px;
}

.portfolio_section .card-body .links span button a:hover {
    color: var(--text-color);
}

.portfolio_section .card-body .links span a:hover {
    color: var(--secundary-color);
    text-decoration: none;
}

.portfolio_section .card-body .links span button {
    background: var(--accent-color);
    border: .5px solid var(--secundary-color);
    color: var(--text-color);
    border-radius: 2px;
    font-weight: 400;
}

/* ----------------------------- */
@media (max-width:992px) and (min-width:767px) {
    .portfolio_section .card-body .title {
        font-size: 22px;
    }

    .portfolio_section .card-body a {
        font-size: 13px;
    }
}



@media(max-width:767px) {
    .portfolio_section {
        padding: 80px 20px;
    }

    .portfolio_section .under {
        max-width: 100%;
        flex: auto;
    }

    .portfolio_section .card-columns {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .portfolio_section .row {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media(max-width:993px) and (min-width:768px) {
    .portfolio_section {
        padding: 80px 10px;
        margin: 0;
    }
}

@media(max-width:500px) {
    .portfolio_section {
        padding: 100px 0px;
    }


}