.title-section {
    padding: 0 20px;
}

.title-section .row {
    display: flex;
    align-items: center;
    height: 100vh;
}

.title-section .row h1,
h2,
h3,
p {
    color: var(--text-color);
}

.title-section .row {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 15px;
}

.title-section .row h3::after {
    content: '';
    position: absolute;
    text-align: center;
    top: 18px;
    width: 90px;
    height: 2px;
    background: var(--accent-color);
    margin-left: 6px;
}

.title-section .row h1 {
    font-size: 65px;
    font-weight: 800;
    color: var(--text-color);

}

.title-section .row .span {
    animation: bounceInDown;
    animation-duration: 2s;
    animation-delay: 3s;

}

.title-section .row h2 {
    font-size: 20px;
    font-weight: 100;
    margin: 8px 0px;

}

.title-section .row p {
    font-size: 13px;
    margin-top: .13px;
    line-height: 21px;
    color: var(--secundary-color);
    line-height: 1.7rem;
}

.title-section .row button {
    border-radius: 10px;
    font-size: 19px;
    color: var(--text-color);
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    margin-top: 10 px;
    animation: tada;
    animation-duration: 1s;
    animation-delay: 8s;
}

/* .title-section .row button :hover {
    background: var(--text-color);
    color: var(--background-color);
    border-color: var(--card-bg-color);
} */

.title-section .row button a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--accent-color);
}

/* .title-section .row button a:hover {
    background: var(--text-color);
    color: var(--background-color);
    border-color: var(--card-bg-color);
} */


.title-section .row img {
    width: 80%;
    border-radius: 30px;
    border-right: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

.title-section .row .btn_top .fa {
    color: var(--accent-color);
    font-size: 17px !important;
    border: 1px solid var(--accent-color);
    padding: 10px;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 93%;
    left: 96%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 8px;
    cursor: pointer;
    z-index: 1;
}

.title-section .row .btn_top .fa:hover {
    animation: swing .5s;
    background: var(--text-color);
}





/* Responsive Title */

@media (max-width:1200px) and (min-width:993px) {

    .title-section .row .btn_top .fa {
        top: 93%;
        left: 95%;
        width: 40px;
        height: 40px;
       
    }

    .title-section .row h1 {
        font-size: 58px;
    }
}

@media (max-width:992px) and (min-width:767px) {
    .title-section .row h1 {
        font-size: 42px;
    }

    .title-section .row h2 {
        font-size: 15px;
    }

    .title-section .row p {
        font-size: 11px;
        line-height: 1.3rem;
    }

    .title-section .row h3 {

        font-size: 15px;
    }

    .title-section .row h3::after {
        top: 10px;
    }

    .title-section .row button {
        font-size: 25px;
    }

    .title-section .row .btn_top .fa {
        top: 93%;
        left: 94%;
        width: 40px;
        height: 40px;
       
    }
}


@media (max-width:767px) {
    .title-section {
        margin-bottom: 50px;

        padding: 40px 30px;

    }

    .title-section .row {
        margin-bottom: 50px;
    }

    .title-section .row img {
        width: 50%;
    }

    .title-section .row h1 {
        font-size: 46px;

        margin-top: 1rem;
    }

    .title-section .row h2 {
        font-size: 18px;

        margin-top: 1.5rem;
    }

    .title-section .row p {
        font-size: 14px;

        line-height: 1rem;
        margin-top: 1.5rem;
    }

    .title-section .btn_container {
        display: flex;

        align-items: center;
        margin-top: 2.5rem;
    }

    .title-section .row h3 {
        font-size: 15px;
        margin-top: 95px;

    }

    .title-section .row h3::after {
        margin-top: 85px;
    }

    .title-section .row h3 ::after {
        width: 0px;
    }

    .title-section .btn_container button {
        width: 130px;
        height: 43px;
        font-size: 15px;
    }

    .title-section .row img {
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
    }

    .title-section .row .btn_top .fa {
        top: 93%;
        left: 92%;
        width: 33px;
        height: 33px;
        padding: 2px;
    }
}

@media (max-width:500px){
    .title-section .row .btn_top .fa {
        top: 93%;
        left: 91%;
        width: 30px;
        height: 30px;
        padding: 2px;
    }
}