.title-section {
    padding: 100px 60px 150px 60px;
}

.title-section .row {
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.title-section .title_left_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.title-section .right_section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.title-section .row h1,
h2,
h3,
h4,
p {
    color: var(--text-color);
}

.title-section .row h3::after {
    content: '';
    position: absolute;
    text-align: center;
    top: 18px;
    width: 90px;
    height: 2px;
    background: var(--accent-color);
    margin-left: 6px;
}

.title-section .row h1 {
    font-size: 75px;
    font-weight: 800;
    color: var(--text-color);
    animation: bounceInDown;
    animation-duration: 2s;
}

.title-section .row .span {
    animation: bounceInDown;
    animation-duration: 2s;
    animation-delay: 3s;
}

.title-section .row h3 {
    font-weight: 400;
    font-size: 20px;
}

.title-section .row h4 {
    font-weight: 400;
    font-size: 45px;
}

.title-section .row h2 {
    font-size: 25px;
    font-weight: 100;
    animation: bounceInLeft;
    animation-duration: 2s;
    animation-delay: 1s;
}

.title-section .row p {
    font-size: 15px;
    margin-top: .13px;
    line-height: 21px;
    color: var(--secundary-color);
    line-height: 1.7rem;
}

.title-section .row button {
    border-radius: 10px;
    font-size: 19px;
    color: var(--text-color);
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    margin-top: 10 px;
    animation: tada;
    animation-duration: 1s;
    animation-delay: 4s;
}

.title-section .row button:hover {
    background: var(--text-color);
    color: var(--background-color);
    border-color: var(--card-bg-color);
}

.title-section .img {
    flex: 0 0 40%;
    position: relative;
    width: 90%;
    border-radius: 30px;
    border-right: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

.btn_top {
    display: none;
}

.title-section .btn_top .fa {
    position: fixed;
    top: 92.5%;
    right: 0;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    z-index: 101;
}

.title-section .btn_top .fa:hover {
    animation: swing .5s;
    background: var(--text-color);
}

/* Responsive Title */

@media (max-width:1200px) and (min-width:993px) {
    .title-section {
        padding: 100px 50px;
    }

    .title-section .row h1 {
        font-size: 58px;
    }
}

@media (max-width:992px) and (min-width:767px) {

    .title-section {
        padding: 100px 50px;
    }

    .title-section .row h1 {

        font-size: 42px;
    }

    .title-section .row h2 {
        font-size: 15px;
    }

    .title-section .row p {
        font-size: 11px;
        line-height: 1.3rem;
    }

    .title-section .row h3 {

        font-size: 15px;
    }

    .title-section .row h3::after {
        top: 10px;
    }

    .title-section .row button {
        font-size: 25px;
    }

    .title-section .right_section {
        padding-left: 60px;
    }

    .title-section .img {
        width: 100%;
    }
}


@media (max-width:767px) {

    .title-section {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px 30px;
    }

    .title-section .row {
        margin-bottom: 50px;
        padding: 25px 0;
    }

    .title-section .right_section {
        justify-content: center;
    }

    .title-section .row h3::after {
        content: '';
        position: absolute;
        text-align: center;
        top: -36px;
        width: 70px;
        height: 2px;
        background: var(--accent-color);
        margin-left: 6px;
    }

    .title-section .row h3 {
        margin-left: -95px;
        padding-bottom: 20px;
    }

    .title-section .row img {
        margin-top: 50px;
        width: 70%;
        margin: 0;
    }

    .title-section .row h1 {
        font-size: 46px;
    }

    .title-section .row img {
        margin: 0;
        width: 50%;
    }

    .title-section .row h2 {
        font-size: 22px;

        margin-top: .5rem;
    }

    .title-section .row p {
        font-size: 14px;
        line-height: 1rem;
        margin-top: .5rem;
    }

    .title-section .btn_container {
        align-items: center;
        margin-top: .5rem;
    }

    .title-section .row h3 {
        font-size: 15px;
        margin-top: 40px;
    }

    .title-section .row h3::after {
        margin-top: 85px;
    }

    .title-section .row h3 ::after {
        width: 0px;
    }

    .title-section .btn_container button {
        width: 130px;
        height: 43px;
        font-size: 15px;
    }

    .title-section .row img {
        margin-top: 40px;
        justify-content: center;
    }
}

@media (max-width:500px) {

    .title-section{
        padding-bottom: 50px;
    }
    .title-section .row {
        padding: 0;
    }

    .title-section .row h3 {
        margin-left: -95px;
    }

    .title-section .row img {
        width: 60%;
    }

}